---
const { articles } = Astro.props;

if (!Array.isArray(articles) || articles.length === 0)
    throw Astro.redirect("/404", 302);
---

<div>
    {
        articles.map((article: any) => (
            <div
                data-aos="fade-right"
                data-aos-duration="400"
                data-aos-delay="200"
                class="flex flex-col gap-5"
            >
                <p class="text-[1rem] sm:text-[1.2rem] text-zinc-500">
                    Let's Get in Touch
                </p>
                <div class="flex gap-4">
                    {article.fields.contact.map((contact: any) => {
                        const isEmail = contact.fields.title === "Email";
                        const href = isEmail
                            ? `mailto:${contact.fields.hyperlink}`
                            : contact.fields.hyperlink;
                        const src = `https:${contact.fields.logo.fields.file.url}`;
                        return (
                            <a href={href}>
                                <img
                                    src={src}
                                    alt={contact.fields.title}
                                    width="24"
                                    height="24"
                                    loading="lazy"
                                    decoding="async"
                                    class="w-[24px] h-[24px] hover:rotate-45 duration-200"
                                />
                            </a>
                        );
                    })}
                </div>
            </div>
        ))
    }
</div>
